input.nice {
	display: block;
	background: none repeat scroll 0% 0% transparent;
	border: 0px none;
	padding: 0px;
	margin: 0px 4px;
	color: #333;
	font-size: 14px;
}

.icon {
	height: 24px;
	width: 24px;
	background-image: url('/bower_components/polymer-ui-action-icons/action-icons.png');
	background-size: auto auto;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-repeat: no-repeat;
}

.icon.dialog {
	background-position: 0px -744px;
}

.icon.search {
	background-position: 0px -48px;
}

.ui_field .icon {
	margin: 8px;
}

.ui_field {
	color: #333;
	font-size: 14px;
}