/** { margin: 0; padding: 0; box-sizing: border-box; }*/
body { font: Helvetica, Arial; }
/*form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/
.src_list {
	list-style-type: none; 
	padding: 0;
	overflow: scroll;
}

#calendar_courses li {
  border-left-style: solid;
  border-left-size: 2px;
}

#search_results {
	width: 100%;
}

#search_results li, #calendar_courses li {
	padding: 6px 12px;

	/* layout horizontal */
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

}
#search_results li span {
	overflow: hidden;
	text-overflow: ellipsis;
	
	/* flex */
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
input[type="checkbox"], input[type="radio"] {
	margin: 0;
}

.striped_list li:nth-child(odd) { background: #f5f5f5; }


p { white-space: normal; }

html, body {height: 100%;}

.horizontal-container {
  width : auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: calc(100% - 26px);
  padding-top: 26px;
  background-color: #EEE;
}
.card {
  width: 642px;
  height: calc(100% - 62px);
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  margin-left: 14px;
  margin-right: 14px;
  padding: 12px 6px 36px 6px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align:middle;
}

.wide {
  width: 963px;
}

.sidebar {
  width: 230px;
}

.card_content {
	height: 100%;
}

input {
  margin: 1em;
}

#calendar {
  overflow: scroll;
}

textarea.data {
  font-size: 7px;
}

/* Shortcuts */
.full_height { height: 100%; }


/* paper-dialog */
paper-dialog {
  width: 50%;
  min-width: 430px;
}

paper-dialog textarea.data {
  border: 1px solid #888; 
  height: 122px;
  width: 100%;
}

p {
  margin-bottom: 0;
}

paper-dialog paper-button {
  font-weight: bold;
}

paper-button[autofocus] {
  color: #4285f4;
}




/* Calendar stuff */
#lolcalendar {
  background: #eee;
  position: relative;
  overflow: scroll;
}


.gathering {
  position: absolute;
  cursor: pointer;
  padding: 4px 6px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  font-size: 10px;
}

.gathering strong {
  font-size: 11px;
}

.selected.oneof .gathering:hover  {
    border: 2px solid gray;
    padding: 3px 4px;
}

.selected .gathering{
  background: white;
  font-weight: bold;
}

.section {
  width : 0px;
  height: 0px;
  position: absolute;
}

.calendar_background {
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.calendar_background li {
  list-style-type: none;
  height: 58px;
  width: 100%;
  text-align: right;
  padding: 12px 36px 12px 36px;
  box-sizing: border-box;
}


.draggable {
  z-index: 1;
}

.droppable {
  font-style: italic;
  border: 1px dashed gray;
}